* {
    font-family: 'EB Garamond', serif;
    margin: 0;
    padding: 0;
}

/* Header */

nav.navbar.fixed-top.navbar-expand-lg.navbar-light.bg-light.row {
    padding: 0 2em;
}
a.navbar-brand img {
    width: 400px;
}

li.nav-item {
    font-size: 1.5em;
    padding-right: 2em;
    padding-left: 2em;
}

/* Main home-intro */
section.home-title {
    background-image: url(../images/home-image10.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
    padding: 20em 5em 15em 5em;
    margin: 0;
}

section.home-title h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 6em;
    text-shadow: 5px 5px #ffffff;
}

section.home-title p {
    font-family: 'Permanent Marker', cursive;
    font-size: 2.8em;
    color: #ffffff;
    text-shadow: 5px 5px black;
}

/* Main home-intro-detail */
section.home-intro-detail {
    padding: 0;
}

.home-intro-text {
    margin: 2em;
    padding: 1em 2em;
    background-color: rgb(248, 246, 246);
}

.home-intro-text h2 {
    font-size: 2.5em;
    text-align: center;
    margin: 0 3em 1em 3em;
    padding: 0.5em;
}

.home-intro-text p {
    font-size: 1.2em;
    text-align: left;
    margin-bottom: 1.5em;
    padding: 0 1em;
    line-height: 1.6em;
    border-left: 5px solid #ee4203;
}

.home-intro-text-style {
    color: #ee4203;
    text-transform: uppercase;
}


/* Section home-intro-more */
hr {
    margin: 3em 0 1em 0;
    border: 0;
    height: 8px;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(238,66,3,1) 20%, rgba(255,201,60,1) 50%, rgba(238,66,3,1) 80%, rgba(255,255,255,1) 100%);
}

.home-intro-more h2 {
    font-size: 2.5em;
    text-align: center;
    padding: 2em;
}

.home-intro-more-title {
    margin: 2em;
    background-color: rgb(248, 246, 246);
}

.home-intro-food {
    background-image: url("../images/home-image6.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    height: 80vh;
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2em auto;
}

.home-intro-food a {
    font-size: 3em;
    font-weight: bold;
    padding: 1em;
}

.home-intro-food a:link {
    color: #fff;
    text-shadow: 5px 5px #ee4203;
    text-decoration: none;
}

.home-intro-food a:visited {
    color: #fff;
    text-shadow: 5px 5px #ee4203;
    text-decoration: none;
}

.home-intro-food p {
    font-size: 1.8em;
    margin: 0 3em;
    text-align: center;
    color: #fff;
    text-shadow: 3px 3px #ee4203;
}

.home-intro-place {
    background-image: url("../images/home-image8.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    height: 80vh;
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2em auto;
}

.home-intro-place a {
    font-size: 3em;
    font-weight: bold;
    padding: 1em;
}

.home-intro-place a:link {
    color: #fff;
    text-shadow: 5px 5px #ee4203;
    text-decoration: none;
}

.home-intro-place a:visited {
    color: #fff;
    text-shadow: 5px 5px #ee4203;
    text-decoration: none;
}

.home-intro-place p {
    font-size: 1.8em;
    margin: 0 3em;
    text-align: center;
    color: #ffffff;
    text-shadow: 3px 3px #ee4203;
}

/* Footer */
footer.footbar {
    background: rgb(255,195,221);
    background: linear-gradient(90deg, rgba(255,195,221,1) 0%, rgba(145,183,228,1) 100%);
}

.footbar-title {
    text-align: center;
    padding: 1em;
}

.footbar-title h3 {
    font-family: 'Long Cang', cursive;
    font-size: 3em;
}

.footbar-contact {
    text-align: center;
    padding: 1em;
}

.footbar-contact h3 {
    font-size: 2em;
}

.footbar-contact p {
    font-size: 1.2em;
}



/* Main food-intro */
section.food-intro {
    background-image: url("../images/food-image1.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    padding: 20em 5em 15em 5em;
    margin: 0;
}

section.food-intro h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 6em;
    color: #fff;
    text-shadow: 5px 5px #e27441;
    text-align: center;
}

.food-intro-text {
    margin: 3em;
    padding: 1em;
    background-color: rgb(248, 246, 246);
}

.food-intro-text h2 {
    font-size: 2.5em;
    text-align: center;
    margin: 0 3em 1em 3em;
    padding: 0.5em;
}

.food-intro-text p {
    font-size: 1.2em;
    text-align: left;
    margin: 1.5em;
    padding: 0 1em;
    line-height: 1.6em;
    border-left: 5px solid #ee4203;
}

#food-intro-text-style {
    color: #ee4203;
    text-transform: uppercase;
}

/* Main food-row */
section.food-row {
    margin: 3em 0;
    padding: 0;
    background-color: rgb(248, 246, 246);
}

.food-row-image {
    padding: 2em;
}

.food-row-text {
    padding: 4em 2em;
}

.food-row-collapse {
    padding: 1em 5em;
}

.food-row-text h3 {
    font-family: 'Long Cang', cursive;
    text-align: center;
    padding: 0.5em;
    font-size: 2.3em;
    background-color: #ffffff;
    border-radius: 0.5em;
}

.food-row-text p {
    padding: 1em;
    font-size: 1.2em;
}

.food-row-collapse a.btn {
    width: 100%;
    letter-spacing: 1px;
    word-spacing: 5px;
    font-size: 1.2em;
    border: 3px solid black;
}

.card h3 {
    font-family: 'Long Cang', cursive;
    text-align: center;
    padding: 0.5em;
    font-size: 2.3em;
}

.card p {
    padding: 1em;
    font-size: 1.2em;
}

iframe {
    margin: 0 auto;
    border: 0;
    width: 100%;
    height: 450px;
}




/* Main place-intro */
section.place-intro {
    background-image: url("../images/place-image8.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    padding: 20em 5em 15em 5em;
    margin: 0;
}

section.place-intro h1 {
    font-family: 'Permanent Marker', cursive;
    font-size: 6em;
    color: black;
    text-shadow: 5px 5px #e27441;
    text-align: center;
}

.place-intro-text {
    margin: 3em;
    padding: 1em;
    background-color: rgb(248, 246, 246);
}

.place-intro-text h2 {
    font-size: 2.5em;
    text-align: center;
    margin: 0 3em 1em 3em;
    padding: 0.5em;
}

.place-intro-text p {
    font-size: 1.2em;
    text-align: left;
    margin: 1.5em;
    padding: 0 1em;
    line-height: 1.6em;
    border-left: 5px solid #ee4203;
}

#place-intro-text-style {
    color: #ee4203;
    text-transform: uppercase;
}

/* Main place-row */
section.place-row {
    margin: 3em 0;
    padding: 0;
    background-color: rgb(248, 246, 246);
}

.place-row-image {
    padding: 2em;
}

.place-row-text {
    padding: 4em 2em;
}

.place-row-collapse {
    padding: 1em 5em;
}

.place-row-text h3 {
    font-family: 'Long Cang', cursive;
    text-align: center;
    padding: 0.5em;
    font-size: 2.3em;
    background-color: #ffffff;
    border-radius: 0.5em;
}

.place-row-text p {
    padding: 1em;
    font-size: 1.2em;
}

.place-row-collapse a.btn {
    width: 100%;
    letter-spacing: 1px;
    word-spacing: 5px;
    font-size: 1.2em;
    border: 3px solid black;
}